:root {
  --blue: #228be6;
  --dark-blue: #0d0099;
  --yellow: #fbca05;
  --dark-yellow: #fbb005;
  --red: #e64980;
  --dark-red: #a30808;
  --purple: #8660f3;
  --gray: #9d9d9d;
  --light-gray: #efefef;
  --black: #313131;

  --gree-alpha: #00ff12b8;
  --red-alpha: #ff0000b8;
  --yellow-alpha: #ffe57bb8;
  --blue-alpha: #228be6b8;
  --purple-alpha: #8660f3b8;
}

html {
  font-family: sans-serif;
}

.divider {
  margin: 0 auto;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
}

.left-container {
  width: 250px;
  height: 250px;
  translate: -45px;
}

.left-title {
  color: var(--light-gray);
  max-width: 125px;
  position: absolute;
  top: 100px;
  left: 40px;
}

.main-bg{
  position: absolute;
  top: -60px;
  left: -120px;
  height: 450px;
  rotate: 15deg;
  z-index: -1;
  transition: color 1.5s;
}

stop {
  transition: all 1.5s linear;
}

.blue #stop1 {
  stop-color: var(--blue);
}
.blue #stop2 {
  stop-color: var(--dark-blue);
}

.yellow #stop1 {
  stop-color: var(--dark-yellow);
}
.yellow #stop2 {
  stop-color: var(--yellow);
}

.red #stop1 {
  stop-color: var(--dark-red);
}
.red #stop2 {
  stop-color: var(--red);
}

.left-object-rotable-container-limiter {
  height: 440px;
  width: 500px;
  overflow: hidden;
}

.left-object-rotable-container {
  width: 350px;
  height: 350px;
  display: inline-block;
  margin-right: 50px;
}

.blue .object-1 {
  width: 55px;
  height: 55px;
  background: var(--gree-alpha);
  border-radius: 59% 41% 37% 63% / 61% 54% 46% 39%;
  position: relative;
  left: 330px;
  top: 75px;
}
.yellow .object-1 {
  width: 55px;
  height: 55px;
  background: var(--yellow-alpha);
  border-radius: 59% 41% 37% 63% / 61% 54% 46% 39%;
  position: relative;
  left: 260px;
  top: 75px;
}
.red .object-1 {
  width: 55px;
  height: 55px;
  background: var(--purple-alpha);
  border-radius: 59% 41% 37% 63% / 61% 54% 46% 39%;
  position: relative;
  left: 260px;
  top: 75px;
}

.object-1 p {
  width: 55px;
  height: 55px;
  position: relative;
  top: -16px;
  background: rgba(0, 0, 0, 0%);
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='22' ry='22' stroke='%23313131FF' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
}

.blue .object-2 {
  width: 55px;
  height: 55px;
  background: var(--red-alpha);
  border-radius: 59% 41% 37% 63% / 61% 54% 46% 39%;
  position: relative;
  left: 50px;
  top: 370px;
}
.yellow .object-2 {
  width: 55px;
  height: 55px;
  background: var(--blue-alpha);
  border-radius: 59% 41% 37% 63% / 61% 54% 46% 39%;
  position: relative;
  left: 55px;
  top: 330px;
}
.red .object-2 {
  width: 55px;
  height: 55px;
  background: var(--blue-alpha);
  border-radius: 59% 41% 37% 63% / 61% 54% 46% 39%;
  position: relative;
  left: 55px;
  top: 330px;
}

.object-2 p {
  width: 55px;
  height: 55px;
  position: relative;
  top: -15px;
  background: rgba(0, 0, 0, 0%);
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='22' ry='22' stroke='%23313131FF' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
}

#couch-rotable-1 {
  height: 450px;
  width: 450px;
  margin-top: -350px;
  margin-left: -130px;
}

#couch-rotable-2 {
  height: 450px;
  width: 450px;
  margin-top: -450px;
  margin-left: -135px;
} 

#couch-rotable-3 {
  height: 450px;
  width: 450px;
  margin-top: -450px;
  margin-left: -120px;
}

.couch-img {
  filter: drop-shadow(2px 4px 6px black);
}

#couch-img {
  width: 150px;
  position: relative;
  top: 380px;
  left: 335px;
}

#couch-img-2 {
  width: 150px;
  position: relative;
  top: 385px;
  left: 350px;
}

#couch-img-3 {
  width: 150px;
  position: relative;
  top: 370px;
  left: 335px;
}

.right-title {
  margin: 115px 15px 70px;
  max-width: 195px;
}

.couch-container {
  width: 500px;
}

.items-couch-container {
  font-size: 20px;
  padding: 5px;
  background-color: var(--light-gray);
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='1' stroke-dasharray='5%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.couch-items {
  margin: 10px;
  color: var(--gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%239D9D9DFF' stroke-width='3' stroke-dasharray='6%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  cursor: pointer;
}

.couch-items p {
  margin: 0;
  padding: 10px 20px
}

.couch-items img {
  filter: drop-shadow(2px 4px 4px black);
}

.select-couch-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.select-couch-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  width: 130px;
  height: 50px;
  cursor: pointer;
  border: none;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%239D9D9DFF' stroke-width='3' stroke-dasharray='6%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.select-couch-container button img {
  filter: drop-shadow(2px 4px 4px black);
}

.couch-items:hover, .select-couch-container button:hover, .select-couch-container .active{
  background-color: var(--gray);
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='1' stroke-dasharray='5%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  color: var(--light-gray);
}

.select-couch-container img, .image img{
  height: 35px;
}

.rotate-0 {
  transform: rotate(0deg) !important;
  transition: all 1.5s;
}

.rotate-175 {
  transform: rotate(-175deg) !important;
  /* rotate: -175deg !important; */
  transition: all 1.5s;
}

.rotate-15 {  
  transform: rotate(0deg) !important;
  /* rotate: 15deg; */
  transition: all 1.5s;
}

.rotate-135 {
  transform: rotate(120deg) !important;
  /* rotate: 135deg; */
  transition: all 1.5s;
}

.rotate-255 {
  transform: rotate(235deg) !important;
  /* rotate: 255deg; */
  transition: all 1.5s;
}

.blur-container {
  animation-name: blur-container;
  animation-duration: 1.5s;
  transition-timing-function: linear;;
}
@keyframes blur-container {
  15% {
    filter: blur(7px);
  }

  70% {
    filter: blur(4px);
  }

  100% {
    filter: blur(0px);
  }
}