:root {
  /* cores básicas */
  --blue: #228be6;
  --dark-blue: #0d0099;
  --yellow: #fbca05;
  --dark-yellow: #d69600;
  --red: #e64980;
  --dark-red: #a30808;
  --purple: #8660f3;
  --gray: #8d8d8d;
  --light-gray: #dfdfdf;
  --white: #f4f4f4;
  --black: #212121;
  --gree: #00ff12;
  --yellow: #ffe57b;
  --blue: #228be6;
  --purple: #8660f3;
}

html {
  font-family: 'Dosis', sans-serif;
  background-color: var(--white);
}

.divider {
  margin: 0 auto;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
}

.left-container {
  translate: -45px;
}

.left-title-container {
  display: flex;
  width: 230px;
  height: 180px;
  overflow: hidden;
  position: absolute;
  top: 100px;
  left: 40px;
  font-size: 30px;

}

.left-title-1, .left-title-2, .left-title-3 {
  color: var(--light-gray);
  display: block;
  transition: all 2s;
}

.left-title-1 h1, .left-title-2 h1, .left-title-3 h1 {
  width: 230px;
  height: 180px;
}

.blue .left-title-1, .blue .left-title-2, .blue .left-title-3 {
  transform: translate(0);
}

.yellow .left-title-1, .yellow .left-title-2, .yellow .left-title-3 {
  transform: translate(-229px);
  color: white;
}

.red .left-title-1, .red .left-title-2, .red .left-title-3 {
  transform: translate(-460px);
}

.main-bg{
  position: absolute;
  top: -130px;
  left: -215px;
  width: 600px;
  height: 600px;
  z-index: -1;
  transition: color 1.5s;
  transform: rotate(-10deg);
}

stop {
  transition: all 2s linear;
}

.blue #stop1 {
  stop-color: var(--blue);
}

.blue #stop2 {
  stop-color: var(--dark-blue);
}

.yellow #stop1 {
  stop-color: var(--yellow);
}

.yellow #stop2 {
  stop-color: var(--dark-yellow);
}

.red #stop1 {
  stop-color: var(--dark-red);
}

.red #stop2 {
  stop-color: var(--red);
}

.left-object-rotable-container {
  width: 350px;
  height: 350px;
  display: inline-block;
  margin-right: 50px;
}

.object-1, .object-2 {
  width: 65px;
  height: 65px;
  border-radius: 59% 41% 37% 63% / 61% 54% 46% 39%;
  position: absolute;
  transition: all 2s;
  filter: blur(1px);
}

.blue .object-1 {
  background: var(--gree);
  left: 265px;
  top: 160px;
}
.yellow .object-1 {
  background: var(--yellow);
  left: 340px;
  top: 0px;
}
.red .object-1 {
  background: var(--purple);
  left: 295px;
  top: -20px;
}

.object-1::before, .object-2::before {
  content: "";
  display: inline-block;
  width: 65px;
  height: 65px;
  position: relative;
  top: -2px;
  left: -2px;
  background: rgba(0, 0, 0, 0%);
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='22' ry='22' stroke='%23313131FF' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
}

.object-2 {
  rotate: 90deg;
}

.blue .object-2 {
  background: var(--dark-red);
  left: 180px;
  top: 350px;
  z-index: 1;
}
.yellow .object-2 {
  background: var(--blue);
  left: 135px;
  top: 230px;
}
.red .object-2 {
  background: var(--blue);
  left: 55px;
  top: 220px;
}

.couch-img, .couch-items img, .select-couch-container button img {
  filter: drop-shadow(2px 4px 6px black);
}

#couch-img {
  width: 150px;
  position: absolute;
  top: 255px;
  left: 250px;
}

.right-title {
  margin: 115px 15px 70px;
  max-width: 195px;
}

.couch-container {
  width: 500px;
}

.right-items-container {
  display: flex;
  overflow: hidden;
}

.items-couch-container {
  font-size: 20px;
  padding: 5px;
  background-color: var(--light-gray);
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='1' stroke-dasharray='5%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.blue #items-couch-container-1 {
  margin-left: 0;
  transition: all 2s;
}

.yellow #items-couch-container-1 {
  margin-left: -500px;
  transition: all 2s;
}

.red #items-couch-container-1 {
  margin-left: -1000px;
  transition: all 2s;
}

.couch-items {
  margin: 10px;
  width: 470px;
  color: var(--gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%239D9D9DFF' stroke-width='3' stroke-dasharray='6%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.couch-items p {
  margin: 0;
  padding: 10px 20px;
}

.select-couch-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.select-couch-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  width: 130px;
  height: 50px;
  cursor: pointer;
  border: none;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%239D9D9DFF' stroke-width='3' stroke-dasharray='6%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.couch-items:hover, .select-couch-container button:hover, .select-couch-container .active{
  background-color: var(--gray);
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='1' stroke-dasharray='5%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  color: var(--light-gray);
}

.select-couch-container img, .image img{
  height: 35px;
}

.rotate-10 {
  transform: rotate(-10deg);
  transition: all 2s;
}

.rotate-62 {
  transform: rotate(62deg);
  transition: all 2s;
}

.rotate-134 {
  transform: rotate(134deg);
  transition: all 2s;
}

.rotate-360 {
  transform: rotate(360deg);
  transition: all 2s;
}

.rotate-360-negative {
  transform: rotate(-360deg);
  transition: all 2s;
}

.effect-translate {
  animation-name: effect-translate;
  animation-duration: 1.5s;
  transition-timing-function: linear;
}

@keyframes effect-translate {

  40% {
    translate: -100px -100px;
  }

  100% {
    translate: 0px;
  }
}